body {
  margin: 0;
  font-family: Arial, sans-serif;
  background-color: #f0f0f0;
}

.app-container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
}

.movies-list {
  list-style-type: none;
  padding: 0;
}

.movie-item {
  background-color: #fff;
  margin: 5px 0;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

input[type="text"] {
  padding: 10px;
  margin: 10px 0;
  font-size: 1em;
  border: 1px solid #ccc;
  border-radius: 5px;
  width: calc(100% - 22px);
}
